.bundle
.DS_Store
db/schema.rb
db/*.sqlite3
db/*.sqlite3.*
index/*
log/*.log
tmp/*
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
doc/*
config/database.yml
.powrc
.rvmrc
.ruby-version
.ruby-gemset
.project
